import { connect } from "mongoose";
import dotenv from 'dotenv';

dotenv.config()

const connectionURI: string = process.env.mongoURI!

export const connectDatabase = async () => {
  try {
    connect(connectionURI, {
      useNewUrlParser: true,
      useUnifiedTopology: true,
      useCreateIndex: true,
    });
    console.log(`[✅] Database connected`);
  } catch (err) {
    console.log(`[❌] Database error: ${err}`);
  }
};
